*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.form{
    position: relative;
    margin: 10vh 10vw;
    padding: 50px  0px;
    min-height: 60vh;
    width: 80vw;
   /* background: rgb(225, 157, 157); */
   
}
.formbody{
    margin-top: 40px;
    min-height: 50vh;
    /* background: rgb(133, 158, 126); */
}


button{
    margin-top: 4vh;
    padding: 8px 25px;
    border: 1px solid black;
    border-radius: 6px;
    color: black;
    background-color: #fff;
    
}

button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.prev{
    margin-right: 120px;
    margin-left: 15px ;
}

.next{
    position: absolute;
   right: 14px;
}


.container h2{
    margin-top: 90px;
    margin-bottom: 20px;
   
}

.errors{
    color: red;
  }

.dropdown{
    padding-left: 22px;
}
